.todo {
  height: 500px;
  width: 150px;
  font-family: sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  font-weight: bolder;
  cursor: pointer;
}

.header input {
  font-weight: bolder;
}

.headerContent{
  justify-content: space-between;
  width: 100%;
  display: flex;
}
