.todo {
  height: 500px;
  width: 200px;
  font-family: sans-serif;
  margin: 0 auto;
}

.todo p input span{
  font-size: larger;
}

.header {
  font-weight: bolder;
}

.header input {
  font-weight: bolder;
}
